.row-fluid .offset0 {
    margin-left: 0
}
.row-fluid .span12.offset0 {
  width: 99.99999999999999%;
  *width: 99.93055555555554%;
}
.row-fluid .span11.offset0 {
  width: 91.66666666666666%;
  *width: 91.59722222222221%;
}
.row-fluid .span10.offset0 {
  width: 83.33333333333331%;
  *width: 83.26388888888887%;
}
.row-fluid .span9.offset0 {
  width: 74.99999999999999%;
  *width: 74.93055555555554%;
}
.row-fluid .span8.offset0 {
  width: 66.66666666666666%;
  *width: 66.59722222222221%;
}
.row-fluid .span7.offset0 {
  width: 58.33333333333333%;
  *width: 58.263888888888886%;
}
.row-fluid .span6.offset0 {
  width: 49.99999999999999%;
  *width: 49.93055555555555%;
}
.row-fluid .span5.offset0 {
  width: 41.66666666666666%;
  *width: 41.597222222222214%;
}
.row-fluid .span4.offset0 {
  width: 33.33333333333333%;
  *width: 33.263888888888886%;
}
.row-fluid .span3.offset0 {
  width: 24.999999999999996%;
  *width: 24.930555555555554%;
}
.row-fluid .span2.offset0 {
  width: 16.666666666666664%;
  *width: 16.59722222222222%;
}
.row-fluid .span1.offset0 {
  width: 8.333333333333332%;
  *width: 8.263888888888888%;
}

.span4 .audit-table-wrap{
  height: 500px;
  overflow-y:auto;
}
.span8 .audit-table-wrap{
  height: 500px;
  overflow-y:auto;
}
.audit-table-wrap em{margin-left:10px;font-size:11px;}
.filter_links{font-size:12px;}
.audit_table{

  &>.span4{
    thead tr{background: #ccc;}
    th{
      border-bottom:3px solid orange;
      padding-bottom:5px;
    }
  }
  &>.span8{
    box-shadow: inset 8px 0px 18px -8px #ccc;
    height:586px;
    position:relative;
    thead tr{background: #f9f9f9;}
    th{
      border-bottom:3px solid #ccc ;
      padding-bottom:5px;
    }
    td:first-child,
    th:first-child{padding-left:15px;}
  }
  table{margin-bottom:0}
  
  .table-hover tbody tr:hover > td,
  .table-hover tbody tr.active > td,
  .table-hover tbody tr:hover > th {
    background-color: #e1e1e1;
    font-weight:bold;
  }
}

.audit-left-table{
  tr{position:relative;}
  td{
    background:#f4f4f4;
    border-color:#ccc;
    cursor:pointer;
  }
  td:last-child .rel_wrap:after{
    font-family:"FontAwesome";
    content: "\f054";
    right:5px;
    position:absolute;
    display:none;
    color:$brightblue;
    font-weight:normal;
  }
  tr:hover, tr.active{
    .rel_wrap:after{
      display:inline;
    }
  }
}
.audit-table-right-header{
  height:54px;
  background:#f9f9f9;
  padding:16px 0 0 15px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.audit-right-table{
  tr{
    cursor:pointer;
    position:relative;
        
    &:hover{
      td{font-weight:bold;}
    }
  }
  /*
  td:last-child .rel_wrap:after{
    content: "Score";
    right:5px;
    position:absolute;
    display:none;
    color:$brightblue;
  }
  tr:hover{
    .rel_wrap:after{
      display:inline;
    }
  }
  */
}
.rel_wrap{position:relative;}
.show-on-hover{
  opacity:0;
}
tr:hover td .show-on-hover{
  opacity:1;
}
.mt10{
  margin-top:10px;
}

h4.widget_title.no_arrow:after{
  display:none;
}

#report_navbar.report_navbar_compact{
  margin-bottom:0!important;
  ul{
    width:100%;
    height:53px;
    
    li{
      border-right:none!important;
      width:33.3%;
      
      a{
        padding: 15px 0px 18px 0px !important;
        border-right: 1px solid #9cd6ff;
        text-align:center;
        
        &.active:after{display:none;}
      
        i{
          font-size:16px!important;
          display:inline-block!important;
          vertical-align:middle;
        }
      }
    }
  }
}

@media (max-width: 900px){
  #report_navbar.report_navbar_compact ul li a i{
    display:none!important;
  }
}
#results{
  display:none;
}
#empty_message{
  text-align:center;
  padding:60px 30px;
  font-size:16px;
  color:#999;
}
#loading_overlay{
  position: absolute;
  display:none;
  width: 220px;
  height: 19px;
  top: 180px;
  left: 50%;
  margin-left:-110px;
}

.data_table_header_title{font-weight:bold;}

.minimum_width{min-width:850px;}