/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    body{padding-top:0px}
    #content_wrapper {
      margin: 0 auto;
      max-width: 100%;
      width: 100%;
      padding:0;
    }
    .knobs-stacked .knob-wrapper{
      border:none!important;
      display: inline-block;
    }
    .widget{border:none!important;}
    .main_wrapper > .container-fluid{padding:0}
    #footer,.navbar_envysion,#report_navbar{
      display:none!important;
    }
    
    #main_header_wrapper{margin:0}
    
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a[href]:after {
      content: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}